.fp-btn {
  margin-right: 10px;
}
.center-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-disabled, .input[disabled] {
  border-color: hsla(var(--p)/var(--tw-border-opacity,1));
}
