node_modules

build/contracts/*
!build/contracts/ACHouse.json
!build/contracts/ACHouseToken1155.json
!build/contracts/ACHouseToken721.json

client/dist/

client/src/contracts/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

.~lock.smartContract functions details.docx#
